.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(80px);
  padding: 1.5rem;
  border-radius: 7px;
}

.msform {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: 370px;
  height: auto;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
}

.msform-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: none;
}

.msform-fieldset>h2 {
  text-transform: uppercase;
  margin-top: 2.2rem;
}

.msform-fieldset>h3 {
  font-size: 0.9rem;
  width: 90%;
  margin: 0.5rem 0 1.8rem;
  text-align: center;
}

.msform-fieldset>h4 {
  display: flex;
  align-self: flex-start;
  font-size: 0.76rem;
  color: #ff0000;
  margin: 0.4rem 0 1.5rem 1.5rem;
}

.msform-fieldset-div {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 85%;
}

label {
  display: flex;
  align-self: flex-start;
  font-size: 0.85rem;
  font-weight: 600;
  margin: 0 0 0.4rem 0.1rem;
}

.msform-fieldset-div>input,
textarea {
  padding: 0.8rem 0 0.8rem 0.5rem;
  margin-bottom: 1.5rem;
}

.msform-fieldset-div>input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 0.8rem;
  opacity: 0.8;
}

.msform-fieldset-div>textarea {
  font-family: arial;
  resize: vertical;
  min-height: 60px;
  max-height: 90px;
  padding: 0.9rem 0 0.8rem 0.5rem;
}

.msform-field {
  outline: 1px solid rgba(0, 0, 0, 0.4);
  border: none;
  width: 100%;
  border-radius: 3px;
}

.alert {
  display: flex;
  align-self: flex-start;
  font-size: 0.8rem;
  color: #ff0000;
  margin: -1.2rem 0 1.5rem 0rem;
}

.error-icon {
  color: #ff0000;
}

.success-icon {
  color: rgba(39, 174, 96, 1);
}

.input-error-icon,
.input-success-icon {
  position: absolute;
  top: 31px;
  right: 10px;
}

.textarea-error-icon,
.textarea-success-icon {
  position: absolute;
  top: 38px;
  right: 10px;
}

.msform-fieldset>button {
  width: 85%;
  padding: 0.8rem 0;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  margin: 0.7rem 0 3rem;
  background-color: rgba(39, 174, 96, 1);
  color: #fff;
  border: none;
  border-radius: 3px;
}

.msform-fieldset>button:hover {
  background-color: rgba(39, 174, 96, 0.9);
}

@media (max-width: 500px) {
  .msform {
    width: 70vw;
  }

  .msform-fieldset {
    width: 60vw;
    text-align: center;
  }

  .msform-fieldset-div {
    width: 100%;
  }

  .msform-fieldset>button {
    width: 100%;
  }

  .msform-field {
    width: 60vw;
  }
}

@media (max-width: 400px) {
  .msform {
    width: 75vw;
  }

  .msform-fieldset {
    width: 65vw;
  }

  .msform-field {
    width: 65vw;
  }
}